<!-- <mat-drawer-container class="example-container" autosize [dir]="flag1">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-language></app-language>
    <div class="summernote">
      <p>Hello Summernote</p>
    </div>
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <button type="button" mat-button (click)="toggle()">
      Toggle dir
    </button>
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Favorite Fruits</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{fruit.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="New fruit..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>

</mat-drawer-container> -->
<div class="summernote" dir="rtl">
  <p>Hello Summernote</p>
</div>